.introContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  flex-direction: column; /* 요소를 세로로 배치 */
  text-align: center; /* 텍스트를 중앙에 정렬 */
}

.circleContainer {
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  width: 100%;
  gap: 100px;
}
