.contentSection {
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: start; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  flex-direction: column; /* 요소를 세로로 배치 */
  text-align: center; /* 텍스트를 중앙에 정렬 */
  margin-top: 100px;
  font-family: var(--font-extralight);
  margin-bottom: 150px;
}

.rowSet {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
}

.principalImage {
  width: 100%; /* 이미지가 컨테이너에 맞도록 너비를 100%로 설정 */
  aspect-ratio: 3.5 / 2.5; /* 가로 2, 세로 3의 비율 설정 */
  object-fit: cover; /* 이미지가 컨테이너에 맞게 잘리거나 확장되지 않도록 설정 */
  object-position: 10% 10%; /* 이미지를 가로 50%, 세로 30% 위치에 배치 */
  display: block;
}

.principalInfo {
  width: 35%;
  display: flex;
  flex-direction: column;
  object-fit: cover;
}

.principalText {
  margin-top: 20px;
}

.principalText p {
  text-align: left;
  font-size: 30px;
  font-family: var(--font-regular);
}

.principalText ul {
  font-size: 16px;
  font-family: var(--font-extralight);
  line-height: 1.8; /* 텍스트 간격 조정 */
  padding: 10px;
}

.principalMessage {
  width: 35%;
  font-size: 16px;
  line-height: 1.8;
  white-space: pre-wrap;
  text-align: left;
}

li {
  padding-left: 10px;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .rowSet {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .principalInfo {
    width: 80%;
    display: flex;
    flex-direction: column;
    object-fit: cover;
  }

  .principalMessage {
    width: 80%;
    font-size: 16px;
    line-height: 1.8;
    white-space: pre-wrap;
    text-align: left;
  }
}
