:root {
  --main-color: #003b6e;
  --sub-color: #f28d00;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "pretendard", sans-serif;
  box-sizing: border-box; /* 패딩과 보더가 크기에 포함되도록 설정 */
}

@font-face {
  font-family: "pretendard";
  src: url("../assets/font/PretendardVariable.ttf") format("truetype");
  font-weight: 100;
  font-style: 30px;
}
