.card {
  border: 1px solid #ccc;
  margin-bottom: 30px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  height: 50px;
}

.cardHeaderOpen {
  background-color: var(--sub-color);
  color: white;

  .title {
    font-family: var(--font-regular);
  }

  .icon {
    color: white;
  }

  .step {
    color: white;
  }
}

.cardHeader:hover {
  background-color: var(--sub-color);
  color: white;

  .title {
    font-family: var(--font-regular);
  }

  .icon {
    color: white;
  }

  .step {
    color: white;
  }
}

.stepTitle {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.step {
  font-family: var(--font-bold);
  color: var(--sub-color);
  font-weight: bold;
  margin-right: 10px;
}

.title {
  padding-left: 10px;
  font-family: var(--font-extralight);
}

.icon {
  color: var(--sub-color);
}

.cardContent {
  padding: 30px;
  white-space: pre-line; /* 줄 바꿈을 인식하도록 설정 */
  background-color: white;
  border-top: 1px solid #ccc;
}

.cardContent p {
  font-size: 18px;
  text-align: start;
  line-height: 2;
  margin: 0;
  padding: 0;
}

.cardContent a {
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .cardContent a {
    font-size: 1rem;
  }

  .stepTitle {
    font-size: 1rem;
  }

  .cardContent {
    padding: 1rem;
  }
  .cardContent p {
    font-size: 1rem;
  }

  .step {
    margin-right: 0;
  }
}
