.circleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;
}

.circle {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center; /* 세로 중앙 정렬 */
  align-items: center; /* 가로 중앙 정렬 */
  color: white; /* 텍스트 색상 */
  cursor: pointer;
  transition: all 1s ease; /* 애니메이션 전환 효과 */
  overflow: hidden;
}

.number {
  font-size: 40px;
  font-family: var(--font-extrabold);
}

.shrink {
  transform: scale(0.7); /* 축소된 상태 */
  transition: all 1s ease;
}

.title {
  padding-top: 25px;
  font-size: 18px;
  font-family: var(--font-light);
}

/* 확장된 상태 */
.expanded {
  background-color: var(--sub-color);
  width: 800px; /* 확장된 상태의 너비 */
  height: 230px; /* 확장된 상태의 높이 */
  border-radius: 130px; /* 카드 형태 */
  justify-content: space-around;
  padding: 20px;
  flex-direction: row;
}

.expandedHeader {
  width: 220px;
  font-family: var(--font-light);
}

.expandedNumber {
  font-family: var(--font-extrabold);
  font-size: 50px;
}

.expandedTitle {
  padding-top: 10px;
  font-size: 18px;
}

.customFont {
  font-family: var(--font-bold); /* 여기서 원하는 폰트를 설정 */
}

.expandedContent {
  width: 580px;
  white-space: pre-line;
  text-align: left; /* 텍스트를 왼쪽 정렬 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* 텍스트를 위쪽에서 시작 */
  align-items: flex-start; /* 요소를 왼쪽으로 정렬 */
  font-size: 18px;
}
