.interviewContainer {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  width: 70%;
  font-family: var(--font-light);
  transition: opacity 0.5s ease-in-out;
  padding: 20px; /* 컨테이너 내부 패딩 추가 */
}

.fadeIn {
  opacity: 1;
}

.fadeOut {
  opacity: 0;
}

.quoteLeft {
  position: absolute;
  top: -10px; /* 상단과의 간격 조정 */
  left: -10px; /* 왼쪽과의 간격 조정 */
  font-size: 2.5rem;
  color: var(--main-color);
}

.quoteRight {
  position: absolute;
  bottom: -10px; /* 하단과의 간격 조정 */
  right: -10px; /* 오른쪽과의 간격 조정 */
  font-size: 2.5rem;
  color: var(--main-color);
}

.interviewContent {
  margin: 0 2.5rem; /* 좌우 마진 추가로 아이콘과의 간격 확보 */
  font-style: italic;
  font-size: 16px;
  line-height: 1.8;
}

.interviewContent p {
  margin: 0; /* p 태그의 기본 margin 제거 */
  padding: 0; /* p 태그의 기본 padding 제거 */
}

@media screen and (max-width: 768px) {
  .quoteLeft {
    font-size: 1.5rem;
    color: var(--main-color);
    top: 0;
    left: 0;
  }

  .quoteRight {
    font-size: 1.5rem;
    color: var(--main-color);
    bottom: 0;
    right: 0;
  }

  .interviewContent {
    margin: 0 1.5rem; /* 모바일에서 좌우 마진을 조금 줄임 */
    font-style: italic;
    font-size: 14px;
  }

  .interviewContent p {
    margin: 0; /* 모바일에서도 p 태그의 기본 margin 제거 */
    padding: 0; /* 모바일에서도 p 태그의 기본 padding 제거 */
  }
}
