.contentSection {
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: start; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  flex-direction: column; /* 요소를 세로로 배치 */
  text-align: center; /* 텍스트를 중앙에 정렬 */
  margin-top: 100px;
  font-family: var(--font-extralight);
  margin-bottom: 150px;
}

.contentSection p {
  font-size: 24px;
  line-height: 1.8;
  font-family: var(--font-thin);
}
