
  
  .header {
    background-color: var(--main-color);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 80px;
    position: fixed;
    top: 0;
    left : 0;
    right: 0;
    z-index: 1000;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 60px;
    margin-right: 10px;
  }
  
  .menu {
    display: flex;
    gap: 30px;
    font-size: 16px;
  }
  
  .menuItem {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .menuItem:hover { 
    color: var(--sub-color);
  }
  