.MainFooter {
  background-color: var(--main-color);
  color: white;
  height: 270px;
  box-shadow: 0px -10px 50px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.logo {
  margin-top: 20px;
  width: 90px;
  height: 90px;
}

.snsSection {
  font-size: 2rem;
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center; /* 아이콘을 가로로 중앙 정렬 */
  align-items: center; /* 아이콘을 세로로 중앙 정렬 */
  gap: 50px; /* 아이콘 사이의 간격 추가 */
}

.snsSection a {
  color: white; /* 기본 색상 흰색 */
  text-decoration: none; /* 링크 밑줄 제거 */
}

.snsSection a:visited {
  color: white; /* 클릭 후에도 흰색 유지 */
}

.snsSection a:hover {
  color: white; /* 마우스 오버 시 흰색 유지 */
}

.snsSection a:active {
  color: white; /* 클릭 시 흰색 유지 */
}

.infoSection {
  margin-top: 5px;
  line-height: 2.5;
  font-family: var(--font-thin);
  font-size: 12px;
}
