.photoItem {
  width: 100%;
  height: auto;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.photoGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-left: 10rem;
  margin-right: 10rem;
}
