.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  cursor: pointer;
}

.image:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.photoGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3개의 열로 구성된 그리드 */
  gap: 20px; /* 각 이미지 사이의 간격 */
  padding: 20px;
  box-sizing: border-box; /* 패딩을 포함하여 박스 크기를 계산 */
  margin-left: 10rem;
  margin-right: 10rem;
}

@media screen and (max-width: 768px) {
  .photoGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3개의 열로 구성된 그리드 */
    gap: 20px; /* 각 이미지 사이의 간격 */
    box-sizing: border-box; /* 패딩을 포함하여 박스 크기를 계산 */
    margin: 10px;
  }
}
